@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./../images/city9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#join-all-section {
    border: 1px solid rgba(63, 125, 217, 0.601);
    border-radius: 7px;
    background-color: #ffffff;
}

#logo {
    font-size: 50px;
    line-height: 40px;
    font-family: 'Courgette', cursive;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

#logo_text {
    color: inherit;
    text-decoration: none;
}

#logo-img img {
    width: 30%;
    height: auto;
}

section {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-family: 'TheJamsil5Bold';
}

#login-form-border {
    border: 2px solid rgba(215, 217, 221, 0.252);
    border-radius: 7px;
    background-color: #ffffff;
}

/* 회원가입 input 그룹 - 아이콘 + input 가로 배치 */
.join-input-group {
    display: flex;
    align-items: center;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    height: 55px;
    overflow: hidden;
}

.join-input-group .join-icon {
    font-size: 18px;
    color: #777777;
    padding: 0 10px;
    flex-shrink: 0;
}

.join-input-group input.form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
}

.join-input-group input.form-control:focus {
    box-shadow: none;
    outline: none;
}

.join-input-group input::placeholder {
    color: #777777;
}

#join-btn input[type=button] {
    font-size: 1.4rem;
}
